/**
 * Footer
 * -------------------------------------------------- */

.site-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;

  &__top {

  }

  &__main {
    background-color: #fff;
    padding: 1.25rem 0;

    .c-copyright {
      &__wrapper {
        p {
          margin: 0;
          text-align: right;
        }
        a {
          border-bottom: 1px dotted $primary;
          font-weight: 700;
          color: $primary;
        }
      }
    }
  }

  &__bottom {

  }
}